GITHUB_WEBHOOK_SECRET=secret_here
GITHUB_TOKEN=ghp_UO....

# AI Engine
LLM_API_KEY=gsk_.....
LLM_MODEL_NAME=llama-3.3-70b-versatile

# GitHub App
GITHUB_APP_ID=332211
GITHUB_INSTALLATION_ID=112233
GITHUB_APP_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
MIIEpAIBAAKC......
-----END RSA PRIVATE KEY-----"
